<h1 class="text-2xl font-bold mb-4">Your Shopping Cart</h1>
<div class="justify-around max-w-2xl mx-auto p-4">
  <% if @cart_items.present? %>
    <ul>
      <% @cart_items.each do |item| %>
        <li>
          <%= item[:product].product_name %> -
          Quantity:
          <%= form_tag update_quantity_path(item[:product].id), method: :patch, remote: true, class: 'inline-block' do %>
            <%= number_field_tag 'quantity', item[:quantity], min: 1, class: 'w-16 border border-gray-300 rounded-md' %>
            <%= submit_tag 'Update', class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' %>
          <% end %>
          <%= button_to 'Remove', remove_item_path(item[:product].id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'inline-block ml-2 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded'%>
        </li>
      <% end %>
    </ul>
      <p><strong>Total Price:</strong> <%= number_to_currency(@total_price / 100.0) %></p>
  <% else %>
    <p>Your cart is empty.</p>
  <% end %>
</div>
<%= link_to 'Back to Products', products_path, class: 'inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' %>
