<div class="flex my-4">
  <div class="flex-shrink-0">
    <% if @yugioh_card.product.image.attached? %>
      <%= image_tag @yugioh_card.product.image, alt: 'Card Image', class: 'mb-4', style: 'max-width: 300px;' %>
    <% elsif @yugioh_card.image.is_a?(String) || !@yugioh_card.image.nil? %>
      <%= image_tag @yugioh_card.image, alt: 'Card Image', class: 'mb-4', style: 'max-width: 300px;' %>
    <% else %>
      <%= image_tag 'assets/images/no_img.png', alt: 'Default Card Image', class: 'mb-4', style: 'max-width: 300px;' %>
    <% end %>
  </div>
  <div class="flex flex-col ml-4 flex-grow">
    <h1 class="text-3xl font-bold mb-2 self-start">Product Detail</h1>
    <h2 class="text-xl font-bold mb-2"><%= @yugioh_card.name if @yugioh_card.present? %></h1>
    <% card_details = {
        'Level' => @yugioh_card.level,
        'Attribute' => @yugioh_card.attribute_of_card,
        'Card Type' => @yugioh_card.card_type,
        'Archetype' => @yugioh_card.archetype,
        'Description' => @yugioh_card.description_of_card,
        'ATK' => @yugioh_card.atk,
        'DEF' => @yugioh_card.def
        } %>
    <% card_details.each do |label, value| %>
        <% next unless value.present? %>
        <div class="mb-1">
            <span class="font-semibold"><%= label %>:</span> <%= value %>
        </div>
    <% end %>
    <div class="mb-1">
      <span class="font-semibold">Yugioh Set:</span> <%= @yugioh_card.yugioh_card_sets.present? ? @yugioh_card.yugioh_sets.map(&:set_name).join(', ') : "none" %>
    </div>
    <%= render partial: 'layouts/common/product_details', locals: { product: @yugioh_card.product } %>
    </div>
</div>

