<div class="max-auto bg-sky-300">
  <div class="px-10 py-4 flex flex-center items-center">
    <%= link_to 'Card Magic Heaven', root_path, class:"text-white text-2xl font-bold"%>
    <ul class="flex justify-center flex-grow space-x-4">
        <li><a href="/" class="text-white hover:text-blue-700 text-lg hover:underline">Home</a></li>
        <li><a href="/products" class="text-white hover:text-blue-700 text-lg hover:underline">Products</a></li>
        <li><a href="/products/magic-the-gathering/search?category=<%=Category.find_by(name: "Magic The Gathering").id%>" class="text-white hover:text-blue-700 text-lg hover:underline">Magic The Gathering</a></li>
        <li><a href="/products/yugioh/search?category=<%=Category.find_by(name: "Yugioh").id%>" class="text-white hover:text-blue-700 text-lg hover:underline">Yugioh</a></li>
        <li><a href="/categories" class="text-white hover:text-blue-700 text-lg hover:underline">Categories</a></li>
    </ul>
    <div class="flex items-center">
  <% if user_signed_in? %>
    <div x-data="{ open: false }" class="relative">
    <button @click="open = !open" class="bg-gray-200 hover:bg-gray-300 px-4 py-2 rounded">
      Welcome, <%= current_user.email %>
    </button>

    <div x-show="open" @click.away="open = false" class="absolute right-0 mt-2 bg-white border rounded shadow-md">
      <%= link_to "View Orders", orders_path, class: "block px-4 py-2 text-gray-800 hover:bg-gray-300" %>
      <%= link_to "Edit Profile", edit_user_registration_path, class: "block px-4 py-2 text-gray-800 hover:bg-gray-300" %>
    </div>
  </div>
    <%= button_to 'Log out', destroy_user_session_path, method: :delete, class:"px-4"%>
  <% else %>
    <%= link_to 'Sign up', new_user_registration_path, class:"px-4" %> |
    <%= link_to 'Log in', new_user_session_path, class:"px-4"%>
  <% end %>
    </div>
    <div>
      <%= link_to cart_show_path, class: 'flex items-center space-x-2 text-gray-800 hover:text-gray-600' do %>
      <%= image_tag('https://img.icons8.com/ios-filled/50/000000/shopping-cart.png', alt: 'Cart Icon', class: 'h-6 w-6 fill-current') %>
        <span class="hidden md:inline-block">Cart</span>
      <% end %>
    </div>
  </div>
</div>
<div class="bg-slate-800">
  <div class="mx-40">
  <%= render partial: "layouts/common/search_detailed"%>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.js" defer></script>

