<%= render partial: 'layouts/common/show_price', locals: { product: product } %>
<% if product.present? %>
    <p><strong>Category:</strong>
    <a href=<%="/products/#{(CGI.escape(product.category.name).downcase).gsub('+', '-')}/search?category=#{product.category.id}"%> class="text-blue-500 hover:underline"> 
        <%= product.category.name %>
    </a>
</p>
    <p><strong>Stock:</strong> <%= product.stock %></p>
    <p><strong>Brand:</strong> <%= product.brand %></p>
<% else %>
    <p>No product information available.</p>
<% end %>
<% if product.stock > 0 %>
  <% if product_in_cart?(product.id) %>
    <%= button_to "Remove from Cart", remove_item_path(product.id), method: :delete, class: "bg-red-500 text-white px-4 py-2 rounded hover:bg-red-700" %>
  <% else %>
    <%= button_to "Add to Cart", add_to_cart_path(product.id), method: :post, class: "bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700" %>
  <% end %>
<% else %>
  <%= button_to "Out of Stock", root_path, class: "bg-gray-300 text-gray-500 px-4 py-2 rounded cursor-not-allowed", disabled: true %>
<% end %>