<div class="flex flex-row justify-center content-stretch pagination m-4">
  <%= paginate @products %>
</div>
<div class="w-full flex flex-row flex-wrap gap-4">
  <% @products.each do |product| %>
  <%= link_to product_show_path(product) do %>
    <div class="bg-white rounded overflow-hidden shadow-lg p-2">
      <% if product.image.attached? %>
      <%= image_tag product.image, alt: 'Card Image', class: 'mb-4', style: 'max-width: 300px;' %>
      <% elsif product.image_url.present? %>
        <%= image_tag product.image_url, alt: 'Card Image', class: 'mb-4', style: 'max-width: 300px;' %>
      <% else %>
        <%= image_tag 'no_img.png', alt: 'Default Card Image', class: 'mb-4', style: 'max-width: 300px;' %>
      <% end %>
      <div class="px-2 py-2">
        <div class="font-bold text-sm overflow-hidden truncate">
          <%= product.product_name %>
        </div>
        <p class="text-sm">
          <%= product.brand %>
        </p>
        <% if product.sale_price_cents < product.price_cents %>
          <p class="text-sm font-sm">Our Price: <%= number_to_currency(product.sale_price_cents / 100.0) %></p>
          <p class="text-sm font-sm text-decoration: line-through">Market Price: <%= number_to_currency(product.price_cents / 100.0) %></p>
        <% else %>
          <p class="text-sm font-sm">Market Price: <%= number_to_currency(product.price_cents / 100.0) %></p>
        <% end %>
        <% if product.stock < 8 %>
          <p class="text-sm font-sm">Low Stock: <%= product.stock %></p>
        <% else %>
          <p class="text-sm font-sm">Stock: 20+</p>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
</div>
<div class="flex flex-row justify-center pagination p-4 m-2">
  <%= paginate @products %>
</div>