<!DOCTYPE html>
<html>
  <head>
    <title>CardManaHaven</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://cdn.tailwindcss.com"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render partial: 'layouts/common/navbar'%>
    <%= render partial: 'layouts/common/banner'%>
    <div class="container mx-auto px-12 h-[calc(100vh-120px)]">
      <%= yield %>
    </div>
    <%= render partial: 'layouts/common/footer'%>
  </body>
</html>
